.error-bg {
    height: 100vh;
    background-color: #9fe2f7;
}

.error-image-container {
    text-align: center;
}

.error-image {
    width: 300px;
    padding-top: 20px;
}

.error-message {
    padding: 20px;
    align-self: center;
    text-align: center;
    font-size: 25px;
}

.input-container {
    margin: 10px;
    text-align: center;
}

.cities-input {
    font-size: 18px;
    text-align: center;
    border: 1px solid #5f5d5d;
}

.cities-input:focus {
    outline: none;
}

.city-list-container {
    margin: 20px 0px 70px 0px;
}

@media only screen and (min-width: 1024px) {
    .city-list-container {
        width: 500px;
        margin: auto;
    }
}

.image-container {
    height: 200px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.city-name {
   align-self: center;
   color: white;
   font-size: 35px;
   text-shadow: 2px 2px 4px #000000;
}