.landing-bg {
    background-color: #9fe2f7;
    height: 100vh;
}
.flex-container {
    display: flex;
    justify-content: center
}

.app-logo {
    height: 300px;
}

.landing-text {
    text-align: center;
    font-size: 22px;
}

.landing-arrow {
    color: #d4b60a;
    font-size: 55px;
}

@media only screen and (max-width: 320px) {
   .app-logo {
       height: 250px;
   }
}