.flex-container {
    display: flex;
    justify-content: center
}

.app-logo {
    height: 300px;
}

.landing-text {
    text-align: center;
    font-size: 22px;
}

.landing-text-small {
    text-align: center;
    font-size: 20px;
}

.landing-arrow {
    color: #5f5d5d;
    font-size: 50px;
}

.landing-links {
    padding: 0px 10px;
    font-size: 20px;
}

@media only screen and (max-width: 320px) {
   .app-logo {
       height: 150px;;
   }
}