.footer {
    position: fixed;
    display: flex;
    bottom: 0;
    width: 100%;
    font-size: 35px;
    justify-content: center; 
    background-color: white;
}

.footer-link {
    color: #d4b60a;
}

@media only screen and (min-width: 768px) {
    .footer {
        width: 600px;
    }
}
